.btn {
  text-decoration: none;
  color: var(--color-white);
  display: inline-block;
  background-color: var(--color-primary);
  padding: 0.5em 1em;
  border-radius: 0.4em;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.btn:hover,
.btn:active {
  background-color: var(--color-secondary);
}

@media only screen and (min-width: 768px) {
  .btn {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1024px) {
  .btn {
    font-size: 1.25rem;
  }
}
